[2021-05-03 19:14] alabontectr opened #1 "[BUG] Error in url path for files in OneDrive"
**Version used**
1.2.1

**Describe the bug**
The goal i''m trying to reach is to search in my OneDrive.  So, i created a search page with a search box and a data visualizer.  The data source is OData and the url is /me/drive/root/search(q='{inputQueryText}').  I'm not sure if this is the right way to achieve this.  I get some results and they seem to be right.  When i click on the filename to acce

[2021-05-03 19:22] alabontectr commented on #1
If i use the debug layout, the url is not the same and is working properly :
https://cegeptroisrivieres-my.sharepoint.com/personal/alain_labonte_cegeptr_qc_ca/_layouts/15/Doc.aspx?sourcedoc=%7B924348A7-6CE0-440A-9FB4-2102D86D22E1%7D&file=Retraite%20Jos%C3%A9e%20T.docx&action=default&mobileredirect=true&DefaultItemOpen=1

[2021-05-03 19:36] FranckyC commented on #1
Hi @alabontectr, are you using the 'Details list' or 'Cards' layout? If it is the case, you should update the column/field expression to get the right value by removing the `getGraphPreviewUrl` part:

Details list layout
![image](https://user-images.githubusercontent.com/5659122/116923561-c642d180-ac24-11eb-8d41-f73f43295d08.png)

Cards layout
![image](https://user-images.githubusercontent.com/565

[2021-05-03 19:43] alabontectr commented on #1
Thank you @FranckyC .  This was the case.  I was using Detail list and removing the getGraphPreviewUrl function solved my problem.

[2021-05-03 19:45] alabontectr commented on #1
Is there another way to search in OneDrive files?  In the free version, it was possible to modify the request using something like {searchboxquery} {?SiteTitle={User.Name}} SiteTemplate:SPSPERS

[2021-05-03 19:50] FranckyC commented on #1
You can do the same using the SharePoint Search data source instead of Microsoft Graph. The following query will retrieve documents from your OneDrive site:

`{inputQueryText} {SiteTitle={User.Name}} SiteTemplate:SPSPERS Isdocument:1`

The difference is SharePoint search data source requires items to be crawled first and it can take some time for the results to appear. Microsoft Graph get changes

[2021-05-03 19:52] alabontectr commented on #1
If using Ms Graph like i did, is it possible to get a thumbnail and a preview of the content when i use the List layout?

I'm getting this :
![image](https://user-images.githubusercontent.com/83609508/116925600-5eda5100-ac27-11eb-82a1-2d90c6406f05.png)

Thanks again!

[2021-05-03 20:05] alabontectr commented on #1
I tried {inputQueryText} {SiteTitle={User.Name}} SiteTemplate:SPSPERS Isdocument:1 with SharePoint Search data source and it seems to search for all Onedrive files i have access to.  Is it possible to restrict it to my own Onedrive only?

[2021-05-03 20:31] FranckyC commented on #1
To search for your OneDrive only using SharePoint search data source, you can do something like this:

`{inputQueryText} SiteTemplate:SPSPERS Isdocument:1 Path:https://<yourdomain>-my.sharepoint.com{User.PersonalSpace}*`

[2021-05-03 20:33] FranckyC commented on #1
For the preview URL, I'll check but I think we couldn't overpass SharePoint limitation regarding iframes and cross domain URls. I'll let you know. Thanks

[2021-05-04 12:24] alabontectr commented on #1
Search in Onedrive is working well.  Thank you.

Is there any list of all the dynamic tokens like User.PersonalSpace?  I saw some in the tokens section of the Data Visualizer but User.PersonalSpace is not there.

Still in Data Visualizer, how can i set up the result phrase in french?  The parameter « Language of search request » is set to « User interface language ».

![image](https://user-images.

[2021-05-04 13:18] FranckyC commented on #1
`{User.XXX}` tokens don't come from the Data Visualizer solution but from the SharePoint search engine itself. You can find the reference here: https://docs.microsoft.com/en-us/sharepoint/technical-reference/query-variables. For the language, the solution is inly available in english for now. French will be added in the next version.

[2021-05-04 13:44] FranckyC commented on #1
However, for the language, you can still write your own message updating the Handlenars template:

[code]

[2021-05-04 13:48] FranckyC commented on #1
Alos for the preview URL on OneDrive results, the best is to use SharePoint Search data source as they will be dsiplayed correctly.

[2021-05-04 14:01] alabontectr commented on #1
I also have some problems with filters.  I want to have the possibility to filter results on Author or ModifiedBy.  Those filters are not displayed even if those fields contain some data.  Any suggestion or documentation to refer to?  I know that some fields are not filterable.

![image](https://user-images.githubusercontent.com/83609508/117015311-97c60480-acbf-11eb-8cf2-f0f1ae0f6845.png)

Thank y

[2021-05-04 14:06] FranckyC commented on #1
Some properties are not refinable by default. To make them refinable, you must first map the correct crawled property in the search schema to a `RefinableStringXX` property. See https://docs.microsoft.com/en-us/sharepoint/search/how-to-add-refiners-to-your-search-results-page. Also, please open an other issue than this one to discuss about your other concerns as this is not related to the original

[2021-05-04 14:06] #1 closed

[2021-05-07 18:20] alabontectr opened #2 "[QUESTION] Unable to access list item from Visualizer"
**Version used**
Ex: 1.2.1

**Question**
How can i access to a list item when it appears in the Visualizer?  The results may be liste items or documents.

![image](https://user-images.githubusercontent.com/83609508/117491761-9a825d00-af3e-11eb-922a-daa45f784d85.png)

Item in the list :

![image](https://user-images.githubusercontent.com/83609508/117491805-aff78700-af3e-11eb-826e-f190805b1626.png)

[2021-05-07 19:30] alabontectr opened #3 "[QUESTION] Block search if no string specified in search box"
**Version used**
Ex: 1.2.1

**Question**
How can i block the search to be lauched if no string is specified in the search box?  Otherwise, it searches for empty string or space and it finds some documents.

Thank you

[2021-05-10 14:06] FranckyC commented on #2
Hi @alabontectr, in the 'List' template, you should remove the `getGraphPreviewUrl` and use the managed property **Path** for the 'Path' slot. I suppose you use the SharePoint data source.

![image](https://user-images.githubusercontent.com/5659122/117671652-06e7a100-b177-11eb-9a6c-4dc5877c0b94.png)

![image](https://user-images.githubusercontent.com/5659122/117671860-40201100-b177-11eb-8b73-f44dc

[2021-05-10 15:00] #2 closed

[2021-05-10 17:23] alabontectr commented on #3
Hello Franck,
I have two Data visualizers.  Both are using SharePoint Search data source.

**Search the whole organization**

The first one searches in all the organisation.  If i don't specify any string in the search box, this is what i get :
![image](https://user-images.githubusercontent.com/83609508/117698008-2ee3fe00-b191-11eb-9d45-64e71abc714c.png)

Query template : {searchTerms}

**Search i

[2021-05-18 11:11] ziggyre opened #4 "[QUESTION] Possibility to format Data Visualizer Web Part Title"
**Version used**
1.2.1

**Question**
Is it possible, or can it be made possible, to format (size, font, boldness) the Web Part Title?

**Additional context**
Add any other context about the problem here.

[2021-05-18 13:30] FranckyC commented on #3
Hi @alabontectr , does it answer you question? Thanks!

[2021-05-18 13:48] FranckyC commented on #4
Hi @ziggyre, unfortunately you can't customize the default Web Part title. However, you can still update the Handlebars template to create your own title styles and leave the default one blank:

![image](https://user-images.githubusercontent.com/5659122/118662549-16419c80-b7be-11eb-8426-d950f39e988d.png)

[2021-05-19 01:59] alabontectr commented on #3
Hello Frank.

It finds nothing but seams to search anyway.

Envoyé de mon iPhone

Le 18 mai 2021 à 09:30, Franck Cornu ***@***.***> a écrit :

﻿

Hi @alabontectr<https://github.com/alabontectr> , does it answer you question? Thanks!

—
You are receiving this because you were mentioned.
Reply to this email directly, view it on GitHub<https://github.com/aequos-solutions/modern-data-visualizer/issues

[2021-05-19 12:04] pravin080317 opened #5 "supported browsers: ios devices (safari or ios browser)"
In the supported browsers list, not able to see safari or ios supported browsers. please clarify that weather the webparts are accessible via ios devices(also via ios mobile devices)?

[2021-05-19 13:16] FranckyC commented on #5
Hi @pravin080317, currently Safari and IOs are not supported. We are working on it to make them compatible. Thanks!

[2021-05-19 13:22] pravin080317 commented on #5
will it work on iPad?  is there any timeline for the safari and iOS. is there any alternative to access this from iphone or ipad?

[2021-05-19 13:38] FranckyC commented on #5
For the timeline, we will try for the next release this summer. For iPad, if you use an other browser like Google Chrome, this should work.

[2021-05-19 21:49] ziggyre opened #6 "[QUESTION] Is it possible to make the visualizer respond to filter as you type?"
**Version used**
Newest

**Question**
Is it possible to configure so that the data that shows in the visualizer is narrowed down in realtime as you enter more letters in the filter box?

[2021-05-20 11:45] FranckyC commented on #6
Hi @ziggyre , I guess you're referring to the search box Web Part. Unfortunately, this feature is not supported with the current version.

[2021-05-20 11:52] FranckyC commented on #3
This expression should retrieve results only if a search box keyword is entered, Otherwise it won't show any results (to avoid default reslults with space character). Isn't the behavior you expected in the first place?

[2021-05-20 16:07] ziggyre commented on #6
Ok, thanks. :-)

[2021-05-20 16:07] #6 closed

[2021-05-20 16:22] #4 closed

[2021-05-20 16:31] ziggyre opened #7 "[BUG] Message about no license found"
**Version used**
Ex: 1.2.1

**Describe the bug**
No license found and Product not licensed message appears on one computer.
At the same time on another computer it works and correctly says Valid, Standalone, Expire: Never.

**To Reproduce**
Open web page with Visualizer webpart.

**Expected behavior**
Working webpart.

**Screenshots**
![no_license](https://user-images.githubusercontent.com/3377251

[2021-05-20 19:45] FranckyC commented on #7
Hi @ziggyre, I would have a couple of questions to help to resolve your issue:
- What browser/OS are you using?
- Do you browse the exact same page?
- Do you have any other Web Part (custom or builtin) on the page?
- Does the error message persist after a hard refresh (CTRL+F5)?
- Do you have the error when you browse the page in private mode?

Thanks!

[2021-05-20 21:15] ziggyre commented on #7
Hi

-Chrome, Windows 10
-yes
-n/a
-it works on both computers now, so can't test
-didn't test
-I don't know how the standalone key was entered

I didn't do anything other than ordinary refresh to make it work now.

[2021-05-21 00:39] FranckyC commented on #7
Thanks for the details, could you check the last two points and get me back? The license error message could be related in this case,

[2021-05-31 14:01] alabontectr commented on #3
Hello Franck, sorry for the delay.  I can't use the search webpart anymore.

![image](https://user-images.githubusercontent.com/83609508/120204696-19de1600-c1f7-11eb-9edb-3ff9ab9b3c39.png)

[2021-05-31 14:58] FranckyC commented on #3
HI @alabontectr , this should be fixed by now, Can you try and let me know? Thanks!

[2021-05-31 15:34] alabontectr commented on #3
I'm still getting the same error message.

[2021-05-31 15:38] FranckyC commented on #3
Can you try clear you browser local storage cache? I see the license is OK in our system.

[2021-05-31 15:43] alabontectr commented on #3
Clearing the browser cache did not solved the problem.

[2021-05-31 15:48] FranckyC commented on #3
Did you clear the local storage as well? To make sure, can you open the site in a private window?

[2021-05-31 15:51] alabontectr commented on #3
I tried with a private window and the error is still there.

[2021-05-31 15:54] FranckyC commented on #3
OK I reset the license, can you try again please?

[2021-05-31 15:59] alabontectr commented on #3
It is working now.  About the search with no string, is it possible to remove the result count?

![image](https://user-images.githubusercontent.com/83609508/120218331-911ba600-c207-11eb-9e5e-6f3806b74ba1.png)

Thank you for your support.  It is appreciated.

[2021-05-31 16:00] FranckyC commented on #3
Ok great, yes there is an option in the Data Visualizer Web Part to hide the count.

[2021-06-14 08:24] ziggyre opened #8 "[QUESTION] Creating Extensibility Library without Python 2"
**Version used**
1.2.1

**Question**
When I try to make an Extensibility Library either from the template or from scratch, I end up with errors due to missing Python 2.7 involving node-sass. Is it possible to make an EL without Python 2.7, and if so; do you have some pointers?

**Additional context**
Add any other context about the problem here.

[2021-06-14 12:33] FranckyC commented on #8
Hi @ziggyre. You can try to reinstall `node-sass` by unsing `npm install node-sass` or completly remove and reinstall the dependency using:
[code]

[2021-06-14 12:55] alabontectr opened #9 "[QUESTION] How to change default placeholder for combo box filter"
**Version used**
Ex: 1.2.1

**Question**
Is it possible to change the default placeholder for a combo box filter?

![image](https://user-images.githubusercontent.com/83609508/121895428-334e8a00-ccee-11eb-82cf-5fe0259f8899.png)

Thank you

[2021-06-14 13:01] FranckyC commented on #9
Hi @alabontectr , unfortunately this value is embedded directly in the code so you can't change it. I've added the requirement to our backlog however. Thanks!

[2021-06-16 12:50] ziggyre opened #10 "[QUESTION] Use parameter in link as refiner?"
**Version used**
Ex: 1.2.1

**Question**
is it possible to use a parameter added to the URL of the page containing the visualizer web part, like
**.../Home.aspx?parameter=value**
as a refiner in handlebars and/or in the query template?

[2021-06-16 13:24] FranckyC commented on #10
Hi @ziggyre , yes you can use the `{QueryString.<name_of_your_param>}` token in the query template field to get a dynamic query. The value will be replaced automatically.
![image](https://user-images.githubusercontent.com/5659122/122226946-717db200-ce84-11eb-8cb8-930a2fc6f749.png)

However, this is not possible to set a default refiner value with this method.

[2021-06-16 13:43] ziggyre commented on #10
Works beautifully. :-)

[2021-06-16 13:43] #10 closed

[2021-06-29 15:33] #5 closed

[2021-07-06 13:26] MichalaLange opened #13 "[QUESTION] How to a define a vertical with a specific content type"
**Version used**
Ex: 1.2.1.0

**Question**
How to a define a vertical with a specific content type.

We have tried to use this token:
{contenttypeid:My Content Type Name}
{contenttypeid:My Content Type ID}

None of them works.

What is the correct settings for defining af vertical based a content type?

**Additional context**

[2021-07-06 14:04] Laul0 commented on #13
Hi @MichalaLange,

Is there several points to take into consideration:
1. If you use `ContentTypeId`, the value must be an ID like "0x0154654ASDSD02154*"
2. If you want to use the title of the content type, you must use `ContentType`

With this information in mind, you have two ways to configure your Web Part:
1. Add two Data Visualizer Web Parts on the same page and link the vertical Web Part to

[2021-07-06 16:06] #3 closed

[2021-07-06 16:07] FranckyC commented on #7
Hi @ziggyre, is this issue resolved on your side? Thanks!

[2021-07-15 09:26] MichalaLange opened #14 "[QUESTION] How come the standard Title link i search results does not open in new tab?"
**Version used**
Ex: 1.2.1.0

**Question**

When I use this default setting:
<a href="{{getGraphPreviewUrl (slot item @root.slots.Path)}}" target="_blank" style="color: {{@root.theme.semanticColors.link}}">	{{slot item @root.slots.Title}}</a>

It does not open in at new tab.

What is missing in the setup?

I do not like to give the customer the solution to right-click on links.

**Additional conte

[2021-07-15 15:16] FranckyC commented on #14
Hi @MichalaLange can you tell us what layout you are using? The slot itself only replaces the actual value and should be placed in a correct link to work as expected (ex: `<a target="_blank" href="{{slot item @root.slots.Path}}">{{slot item @root.slots.Title}}</a>`.

[2021-07-16 11:52] MichalaLange commented on #14
Hi Franck - a colleague found your answer on github and it solved the problem:

Use data-interception=off attribute. More info here https://docs.microsoft.com/en-us/sharepoint/dev/spfx/hyperlinking

[2021-07-16 12:22] FranckyC commented on #14
Great @MichalaLange ! I'll close the issue then. Thanks.

[2021-07-16 12:22] #14 closed

[2021-08-04 14:55] ziggyre opened #16 "[BUG] Problem using Path in SharePoint Search query"
**Version used**
1.2.1 (and 1.3.0 beta)

**Describe the bug**
Using SharePoint Search, querys like
"{searchTerms}  path:https://varenergi.sharepoint.com/sites/ModernDataVisualizerTest
IsDocument:1" does not return anything now.
"{searchTerms}  IsDocument:1" still works

**To Reproduce**
make a query using "path:..."

**Expected behavior**
a list of documents on site

**Screenshots**

**Desktop (pl

[2021-08-04 15:00] FranckyC commented on #16
Hi @ziggyre, can you try followting things:
- Can you switch to the 'Debug' layout and inspect the `queryModification` property. You should see the query sent to the SharePoint search and see resolved values?
- Can you try to enclose the URL withquotes in the `Path` condition?

Thanks!

[2021-08-04 15:16] ziggyre commented on #16
With quotes:
 "queryModification": "path:\"https://varenergi.sharepoint.com/sites/ModernDataVisualizerTest\" \nIsDocument:1 -ContentClass=urn:content-class:SPSPeople",

I suspect the ContentClass is the problem? Where does that come from?

[2021-08-04 15:24] FranckyC commented on #16
No the `ContentClass` condition is handled by SharePoint directly, no worries ;). Can you simply try to add `*` in the URL like path:"https://varenergi.sharepoint.com/sites/ModernDataVisualizerTest*". Thanks

[2021-08-04 15:30] ziggyre commented on #16
Still no results

[2021-08-04 15:31] FranckyC commented on #16
Ok and if you try only the `path:"https://varenergi.sharepoint.com/sites/ModernDataVisualizerTest/*" expression?

[2021-08-04 15:33] ziggyre commented on #16
No results

[2021-08-04 15:37] FranckyC commented on #16
Ok few more tests:
- What if you try with an other site URL.
- What if you use `Path:{Site}`.
- Make sure you have document in the site and they are not in a draft state.
- Make sure you actually have the correct permissions (at least read) to view these documents.
- Try to reindex the site manually from site search settings.

[2021-08-04 15:43] ziggyre commented on #16
Have tried other sites, Path:{Site} does not return anything when using the path of a file that is listed when not using path no results is shown, so the permissions and index is ok

[2021-08-04 15:46] FranckyC commented on #16
Ok what is the exact queyr you put in the query template field? Ca I see the screenshot? Make sure there is no new lines or unwanted character in the value that may cause issues.

[2021-08-04 15:47] ziggyre commented on #16
![image](https://user-images.githubusercontent.com/33772512/128212179-fae1d4ee-03c4-4d39-afb2-ea56c36541ce.png)
I have used path before the summer without any problems.

[2021-08-04 15:49] FranckyC commented on #16
Can you make sure there is no new lines in the query template, only whitespaces

[2021-08-04 15:50] ziggyre commented on #16
there are no newlines

[2021-08-04 15:53] FranckyC commented on #16
If I refer to the queryModification you sent, it appears there is one `\n`. To make sure this is not the issue, simply retype the query if needed.

[2021-08-04 15:54] ziggyre commented on #16
I removed that one earlier.

[2021-08-04 15:57] FranckyC commented on #16
Ok can you try this query using the native SharePoint search or use an "Highlighted content" Web Part and the KQL option?

[2021-08-04 16:15] ziggyre commented on #16
Highlighted Content worked the same erroneous way -  "IsDocument:1" returns results but "path:..." does not. So it isn't MDV that is the problem, I'm sorry for bothering you. Highlighted Content works ok with path on another tenant. Have you seen this before?

[2021-08-04 16:26] FranckyC commented on #16
Hmm that what I thought, never seen this specific issue but I already seen some weird unexplained behaviors with SharePoint search on different tenants. I suggest you to open a support ticket already. Often the issue in on their side and they can quickly find it. An don't worry, you don't bother us, we are here for this ;)

[2021-08-04 16:47] ziggyre commented on #16
For now I solved it using _DocumentLink:"https://varenergi.sharepoint.com/sites/ModernDataVisualizerTest/Shared Documents/*"_
 (as I should only search one library). Thanks a lot for your help! :-)

[2021-08-04 16:47] #16 closed

[2021-08-23 20:50] jfmathieu opened #17 "[BUG] QueryString Token Bug"
**Version used**
Ex: 1.3.0

**Describe the bug**
When using the token "{QueryString.ClientName}", if the token in the URL is the first (aka after the "?") it don't work but if the token in the URL is the second or more parameter, the Token work correctly.

**To Reproduce**
Steps to reproduce the behavior:
1. Configure the search query to use the prameter from the URL (ex: ClientName) with the toke

[2021-08-31 13:23] FranckyC commented on #17
Hi @jfmathieu, good catch ;). This has been identified and will be resolved in a upcoming patch. Thank you for reporting this issue.

[2021-08-31 15:38] FranckyC commented on #17
Should be fixed with the 1.3.1 version. Let us know ;). Thanks

[2021-08-31 15:39] #9 closed

[2021-08-31 15:39] FranckyC commented on #8
Hi @ziggyre , can we close this issue?

[2021-08-31 15:40] #7 closed

[2021-09-01 06:09] ziggyre commented on #8
Yes. I couldn't make it work, will get back to it if I find time to investigate more. I am sorry for not getting back to you on the other issue. Best regards, Ziggy

[2021-09-01 06:09] #8 closed

[2021-09-02 08:51] MichalaLange commented on #13
We never fixed it, but worked around it. So it can be closed.

[2021-09-02 15:28] FranckyC commented on #13
Thanks for the reply @MichalaLange. Dont't hesitate if we can help you.

[2021-09-02 15:28] #13 closed

[2021-09-02 16:07] FranckyC commented on #17
@jfmathieu can you confirm this resolves your issue? Thanks!

[2021-09-02 16:57] jfmathieu commented on #17
Hi, I will test it and let you know. Thanks

[2021-09-03 06:49] MichalaLange opened #18 "Filter webpart does not work as expected"
**Version used**
1.3.1.0

**Describe the bug**
The filter webpart, does not return all values found by the search box shown in the search result query.

**To Reproduce**
Look at file - it shows two different examples

**Expected behavior**
The filter should be able to find the same values as can be found when entering the search, returned by the search box.

**Screenshots**
Look at file - it shows

[2021-09-07 07:20] MichalaLange commented on #18
Hi Franck - the Customer (a Danish company, who have bought a license) is asking me about this bug, since she cannot go live with her search when this is not working.
kind regards Michala

[2021-09-07 10:32] FranckyC commented on #18
Hi @MichalaLange, did you connect the Data Visualizer and Data filter Web Parts bot ways? It seems the Data Visualizer is not connected to the Data Filter so the empty results.

[2021-09-07 10:40] FranckyC commented on #18
Also, make sure the "External Type" column is correctly mapped to a RefinableStringXXX SharePoint managed property use in the Web Part. To get correct translations for the refiner values, you should map the `ows_taxId_<column_name>` underlying crawled property.

If it doesn't work, you can still use the `ows_<column_name>` as mapped crawled property. This represents only the text value.

[2021-09-08 18:25] MichalaLange commented on #18
Hi Franck

1)	The Data Visualizer and the Data Filter webparts have been connected both ways (please see screenshots)
2)	External Type has been mapped to RefinableString93 using the ows_taxid_cip_External_Party crawled property (please see screenshots)

The Data Filter is not empty – it returns many results but not ALL results. Thus, this would indicate that the connection has been made successful

[2021-09-08 18:33] Laul0 commented on #18
Hi,
Maybe a stupid question: do the values that are you looking for are used?
If some values are not used by an item, this one does not appear from the filter.

[2021-09-08 18:37] MichalaLange commented on #18
Questions are seldom stupid 😊

The value we are testing are being used.

The problem (as shown In my very first batch of screendumps in the word document), is that they only appear when I use the search box – fig 1. But then se fig 2.
***@***.***

But not else:
***@***.***

Med venlig hilsen / Kind regards,
Michala Lange
Senior Business Consultant
Modern Workplace, ECM

PROACTIVE / Part of Fellowm

[2021-09-08 19:10] FranckyC commented on #18
Hi @MichalaLange, I didn't ask last time but I assume you are using the SharePoint Search data source. To make sure this is a bug, here is what you can do:
- In the search query, isolate an unique item knowing having these values filled (ex: `RefinableString93`)
- Add `RefinableString93` to the selected properties in the Data Visualizer WP.
- Switch to the debug layout and see if there actually a

[2021-09-08 19:43] FranckyC commented on #18
You could also:
- Try to use an other template for that filter or the 'Debug' layout in the Data Filter WP see if there is any differences in retrieved values.
- Add a value (like '50') in the 'Values count' in the filter configuration.

Let us know.

[2021-09-13 13:12] MichalaLange commented on #18
Hi Franck
I have tested and the data vizualizer returns values in Refinable93:
![image](https://user-images.githubusercontent.com/87021828/133089786-f4211b69-71c7-464f-8939-d606448e08f5.png)

[2021-09-13 13:15] FranckyC commented on #18
Ok, did you inspect the query as well to see if refinement results are actually retrieved? Thanks!

[2021-09-13 13:19] MichalaLange commented on #18
Yes - the item have results in refinablestring93 and refinablestring93 is added to selected properties in data visualizer etc. That has been the case from the start. If I misunderstand, please let me know what to do.

[2021-09-13 13:24] FranckyC commented on #18
Ok, would it be possible to do a live debug session on your environement? If possible you can send me an invitation at franck.cornu@sword-group.com. Thanks!

[2021-09-13 13:43] MichalaLange commented on #18
Hi Franck

We can try, unfortunately I am not able to make time today.
I am a consultant –  working less than part time for the customer
I can invite you to a teams-meeting tomorrow around this time, if it suits you?

Med venlig hilsen / Kind regards,
Michala Lange
Senior Business Consultant
Modern Workplace, ECM

PROACTIVE / Part of Fellowmind
MICROSOFT PARTNER OF THE YEAR 2021 – ENGAGING CUSTOME

[2021-09-13 13:46] FranckyC commented on #18
Yes sure it would work for tomorrow . Thanks!

[2021-09-14 13:23] FranckyC commented on #18
@MichalaLange I close this one as the 'Values count' configuration resolved this issue. Thanks!

[2021-09-14 13:23] #18 closed

[2021-09-24 14:00] jfmathieu commented on #17
Yes it is fixes. Thanks

[2021-09-24 14:00] #17 closed

[2021-11-03 00:35] randhawaryan opened #19 "[QUESTION] Taxonomy Picker Filter - Can you select a subset of terms?"
**Version used**
Ex: 1.3.1

**Question**
Is it possible to limit the values shown by the taxonomy picker filter to a specific subset? For example, for a four level term set can we display only L1 and L2 values as filters?

**Additional context**
I tried creating a new term set (re-using specific terms from the main term set), however if a term set contains only re-used terms I don't see any terms

[2021-11-03 12:51] jfmathieu opened #20 "[BUG] Refiner for CreatedBy don't show up"
**Version used**
1.3.1

**Describe the bug**
I'm have a refiner for the field ModifiedBy and CreatedBy on SharePoint data. The ModifiedBy refiner work well but the CreatedBy refiner don't show up.

**To Reproduce**
Steps to reproduce the behavior:
1. Add search result, refiner webpart
2. Add CreatedBy and ModifyBy refine

**Expected behavior**
Expected that the CreateBy and ModifiedBy refiner work

[2021-11-03 12:53] FranckyC commented on #20
Hi @jfmathieu, if I remember crrectly, the `CreatedBy` property is not refinable by default. Can you try with `Author` instead?

[2021-11-03 13:38] FranckyC commented on #19
Hi @randhawaryan it seems reused terms directly from root are not recognized by the picker. As a workaround, what you can do is:

- In your target term set, create a root term, and from here reuse other terms:

![image](https://user-images.githubusercontent.com/5659122/140070160-79806c1f-5537-4675-96ec-3e156696e146.png)

- Select this term in the filter configuration:

![image](https://user-images

[2021-11-03 16:53] randhawaryan commented on #19
Thanks @FranckyC - this fixes the issue with the level 1 terms not being re-used.

I still have the issue with all of the children being displayed. If I delete some children from the re-used term set (example, only keep one child under 11 - Agriculture, forestry, fishing and hunting) the filter will still display all of the other children present on the main/source term set.
Is there any way aroun

[2021-11-04 12:07] FranckyC commented on #19
Hi @randhawaryan, you're right. It appears to be a bug as it shouldn't retrieve removed child terms. This will be fixed in the next release in the next few weeks. Sorry for that :/.

[2021-11-08 13:54] jfmathieu commented on #20
Hi @FranckyC , It does not give the correct resultat as I'm search for the creator of the document.
What is strange is that the mofied by work.

[2021-11-08 13:57] FranckyC commented on #20
You can still use a custom `RefinableStringXX` mapped with the createdBy crawled property see if it change something.

[2021-11-09 17:58] randhawaryan opened #21 "[QUESTION] Sort By dropdown"
**Version used**
Ex: 1.3.1

**Question**
Is there an ETA or workaround to have a 'Sort By' drop down available to the modern data visualizer?

**Additional context**
Same as pnp-modern-search issue [597](https://github.com/microsoft-search/pnp-modern-search/issues/597)

[2021-11-09 18:17] FranckyC commented on #21
Hi @randhawaryan, we have it on the roadmap but I can't give you an ETA for now unfotunately.

[2021-11-10 21:29] FranckyC commented on #19
Hi @randhawaryan, here a quick follow up on this issue. We have identified a bug for reused terms at term set root not displayed and this will be fixed in the next release. However, for the initial one regarding reused term children local modification, it seems to be a bug in the Microsoft Graph API and we submitted a new issue accordingly (https://github.com/microsoftgraph/microsoft-graph-docs-co

[2021-11-11 21:33] jfmathieu commented on #20
I will do this. Thanks

[2021-11-11 21:33] #20 closed

[2021-11-11 21:47] jfmathieu opened #22 "[QUESTION] Date Filter Text Display"
**Version used**
Ex: 1.3.1

**Question**
When we do a filter on a date with the "plage de date" template, the display of the filter show
[Date > .... OU Date < ... ]

I think instead of "OU" (OR) we should see "ET" (AND) because when we filtre it is between ... AND ...

Does it make sense ?

**Additional context**
![image](https://user-images.githubusercontent.com/20711616/141373311-e82265cd-a933-

[2021-11-11 23:35] bryllyg opened #23 "[QUESTION] Can the static taxonomy filter be configured to use labels, rather than GUID?"
**Version used**
Ex: 1.3.1

**Question**
We are wanting to use static taxonomy filters with people profile fields. These fields are strings (rather than actual managed metadata values) and we're wondering if there's a way to filter by label instead of a taxonomy term GUID? If so, what format would we need to adhere to to make it work?

Alternately, if we were to tag the user profile field using th

[2021-11-12 14:51] FranckyC commented on #23
Hi @bryllyg, the taxonomy picker only works with GUID unfortunately and user profile properties store the managed metadata labels instead of GUID. A solution could be to create custom user profile property but with taxonomy item GUID as string. Not optimal but should work.

[2021-11-12 15:58] FranckyC commented on #22
Hi @jfmathieu, good catch! I'm able to reproduce this issue and this will be fixed in the next release.

[2021-11-15 16:24] bryllyg commented on #23
@FranckyC Thanks! We were hoping that would work as a fallback. I'll give it a go.

[2021-11-15 23:21] bryllyg commented on #23
It worked using the GPO|# formatted GUID. Thanks!

[2021-11-16 00:50] #23 closed

[2021-11-17 19:21] bryllyg opened #24 "[FEATURE] Search Vertical counts"
**Version used**
Ex: 1.3.1

**Describe the bug**
Version 3.x of the Search Verticals web part had result counts for each vertical, would like to see the same functionality in v4, this is something our users have been used to having available.

This is feature request 825 on PnP Search:  https://github.com/microsoft-search/pnp-modern-search/issues/825. Wanted to make sure it got on the Aequos featu

[2021-11-17 19:50] bryllyg opened #25 "[FEATURE] Default Search Vertical tab query string variable"
**Version used**
Ex: 1.3.1

**Describe the bug**
From HCD testing, users prefer tabs to remain in a fixed location, not re-sort. V3 of the PnP Search web part supports setting up a query string parameter to set the selected & shown tab on page load. It would be great to have this functionality included in Aequos.

See PnP issue: https://github.com/microsoft-search/pnp-modern-search/issues/732

**E

[2021-11-18 09:50] thijsvgils opened #26 "[BUG] Can't select term sets in Taxonomy Picker filter"
**Version used**
Ex: 1.3.1

**Describe the bug**
I've installed the trial version for a customer, because they want to make use of the Taxonomy Picker.
However, i'm unable to select the term sets, when clicking the term set nothing happens:

![image](https://user-images.githubusercontent.com/34765064/142391648-b9262933-820b-4ead-968f-1d5e92137ad0.png)

When choosing the normal checkbox template, i

[2021-11-18 11:28] thijsvgils commented on #26
UPDATE: It seems that the API requests are not coming through... I'm SharePoint admin, is that sufficient?

[2021-11-18 12:52] FranckyC commented on #26
Hi @thijsvgils , did you approve the required Graph permission `TermStore.Read.All` as mentionned in the documentation https://aequos-solutions.github.io/modern-data-visualizer/installation/? This is probably the root cause.

[2021-11-18 12:55] FranckyC commented on #24
Hi @bryllyg, this feature is on the backlog but I can't give you an exact ETA on it unfortunately. The v3 and v4 implementations are quite different so we can't take the existing code "as is" and need to figure out the best way to handle counts regarding all sources.

[2021-11-18 12:56] thijsvgils commented on #26
Hi @FranckyC thanks for coming back to me.. I'm not receiving the API request at all (In SharePoint Admin API Management). I'm a SharePoint admin role myself, but a Global Admin checked as well, but didnt see it either.

[2021-11-18 12:58] FranckyC commented on #26
You can try to use Microsoft 365 CLI instead see if it works: https://pnp.github.io/cli-microsoft365/cmd/spo/serviceprincipal/serviceprincipal-grant-add/

[2021-11-18 13:01] FranckyC commented on #25
Hi @bryllyg, actually with the 1.3.1 version, you can already do this:

![image](https://user-images.githubusercontent.com/5659122/142420137-7d7194c5-b334-4bb4-8c86-ac7a6ee07afe.png)

Did you try this option?

[2021-11-18 14:45] thijsvgils commented on #26
It worked! Had to delete and upload the package a few times to trigger the API requests...

[2021-11-18 14:50] thijsvgils opened #27 "How can I properly filter on a People picker field?"
**Version used**
Ex: 1.3.1

**Question**
I have mapped a multi-select people field to a RefinableString. When I use this as a filter the user claims are shown, instead of the email address or display name... can i edit the layout code in a way that it only shows the display name for instance?

I know that PnP Modern Search V3 had the persona template... what happened to this feature?

[2021-11-18 17:24] FranckyC commented on #26
Glad to hear ! Let us know if you have any questions

[2021-11-18 17:24] #26 closed

[2021-11-18 22:06] bryllyg commented on #25
Fabulous! That's exactly what I needed. Sorry for the churn. I haven't yet been able to fully dive in to the Aequos install and I missed that.

[2021-11-18 22:08] bryllyg commented on #24
Understood! Just wanted to get our vote in for the feature when it comes around. Thanks!

[2021-11-18 22:14] #25 closed

[2021-11-19 14:02] #24 closed

[2021-11-19 18:28] LogicElite opened #28 "[BUG] Issue with page hyperlinks once the Search box WP is loaded"
**Version used**
1.3.1 and 1.2.1

**Describe the bug**
As soon as we configure the MDV search box to retrieve parameters either in the URL or in the page, we are starting experiencing problems with hyperlinks while navigating to home or other pages (it requires double clicks or just selecting the link and changing the URL on a single click without opening it)

**To Reproduce**
Steps to reproduce t

[2021-11-25 17:33] FranckyC commented on #27
Hi @thijsvgils, if you used the `ows_q_USER_<columnName>` crawled property for the RefinableString mapping, the following Handlebars expression should do the trick in a custom template:

[code]

![image](https://user-images.githubusercontent.com/5659122/143483271-ccd190b7-fa0f-4868-b204-381cde096801.png)

[2021-11-30 15:50] jfmathieu commented on #22
Hi @FranckyC , do we have an estimated date for the next release 1.3.2 ?
Thanks

[2021-11-30 15:58] FranckyC commented on #22
@jfmathieu this will be in the next few weeks (1.4.0). We will start by a pre-release.

[2021-12-01 16:47] bryllyg opened #29 "[QUESTION] Can I combine people and list results via UI?"
**Version used**
Ex: 1.3

**Question**
Hi, we've been using PnP V4 and are testing Aequos. In V4 I can combine people data from Graph and a SharePoint list by modifying the Search web part's template and Properties. In Aequos, the Data Visualizer web part does not provide access to Properties. Is it possible to combine Graph or People data and list data via the UI, or does this need to be tackled

[2021-12-01 16:51] FranckyC commented on #29
Hi @bryllyg, not sure to understand your use case. Can you show me the options you are refering to?

[2021-12-01 17:08] bryllyg commented on #29
Of course. I'm kind of doing a workaround in V4 by making updates to the Edit Properties on the last tab of setup.
![image](https://user-images.githubusercontent.com/2616432/144279142-354c766a-a136-40f9-b721-005efa07e8d5.png)

To combine my list (which includes tags I want associated with the users) I have my Results source pointing to the list, then I'm using a custom template based off of the Pe

[2021-12-01 17:12] bryllyg commented on #29
The real goal here is to have term set tags associated with users that we can use as filters, and display on the results cards, We have too much data to create user profile tags, and user profiles don't support nested terms ala term sets, so we're trying to combine the two.

[2021-12-01 20:07] FranckyC commented on #29
Hi @bryllyg, I think I get it;). If your source already exposes the correct consolidated data then you can benefit from the [custom layout](https://aequos-solutions.github.io/modern-data-visualizer/extensibility/custom_layout/) extensibility feature to save additional properties that can be used in your template.

Otherwise, if your data need to be processed before rendering, then you can also use

[2021-12-01 20:13] bryllyg commented on #29
@FranckyC Thanks! I was thinking we'd need to dive into the custom source capabilities, but wanted to check and make sure I was going down the correct path.

[2021-12-01 20:26] FranckyC commented on #29
You're welcome! Custom source is probably a good candidate for your use case. Let me know if you have questions regarding the implementation.

[2021-12-01 21:08] FranckyC commented on #28
Hi @LogicElite, we are able to reproduce the issue and are investigating what could cause this behavior. We'll let you know once fixed. Thanks!

[2021-12-01 21:37] bryllyg commented on #29
@FranckyC  a related question (I can post this to a new thread if you want), can I increase the amount of items iterated through beyond 50 per page vie UI? Or is this also custom source?

[2021-12-01 21:49] FranckyC commented on #29
Technically you can do more than 50 items per page if I remember correctly for SharePoint search. We limit to 50 for performances purpose and I suggest you to stick to it. You probably don't really need 500 items to displayed at one time :D

[2021-12-02 16:05] bryllyg commented on #29
@FranckyC Sorry, I didn't explain that well, I'm only displaying from 9 -12 items on the page, but I need to be able to iterate through the entire list (over 15000 items) in order to collect the appropriate results. I'm gathering unique owners and providing a count of all of their items (displaying those with the highest count). It is a performance hit, but to get that data we need to iterate thro

[2021-12-03 18:39] FranckyC commented on #29
In your custom data source, you have access to the paging information so you should be able to iterate (ex: `itemsCountPerPage`, `pageNumber`) if you are using SharePoint search, it is pretty easy to use that info to build your calls.

[2021-12-03 19:54] FranckyC commented on #28
Closed. Resolved with 1.3.2

[2021-12-03 19:54] #28 closed

[2021-12-10 16:57] FranckyC opened #30 "[BUG] SearchBox : Cannot read properties of undefined (reading 'q')"
PnP Modern Search related. See https://github.com/microsoft-search/pnp-modern-search/issues/1550 for original issue and https://github.com/microsoft-search/pnp-modern-search/pull/1618 for resolution.

[2021-12-10 22:07] Laul0 commented on #30
Thx for the feedback @FranckyC 🥇

[2021-12-20 18:26] tmarchetti00 opened #31 "[BUG] Apply not working with text search in Taxonomy filters"
Version: 1.3.2

Problem:

In the Filter web part, the Apply button is not highlighted when user searches for and selects a term in the “Search items” field when using Taxonomy Picker template. This only applies to Taxonomy fields.

Steps to duplicate:

We have several filters that are configured using the Taxonomy Picker template. Our term store data is configured for multi-select and shows the fu

[2021-12-20 18:31] tmarchetti00 opened #32 "[Bug] If selecting multiple multi-select taxonomy filter terms that include children, the AND filter does not work, it shows the same results as OR."
Problem:
AND filter shows results for OR if you have a filter group set to taxonomy, multi-select with children. If you don’t include children, or are using a non taxonomy filter type, it AND works as expected.

Steps to reproduce:

1. Set up a taxonomy term set filter group that includes child terms (“Select the item and all it’s children)
2. Set up some nested terms
3. Set up the Search results

[2021-12-23 14:17] tmarchetti00 opened #33 "[BUG] when a filter is removed the data does not refresh"
**Version used**
Ex: 1.3.2

Problem:
When I apply a filter such as COVID and then remove the filter the Apply button is greyed out and the data does not refresh back to the original search result.  If I add COVID filter again the Apply button is still greyed out.  I have to click the Clear button after I remove the filter. Is there a way to make that Clear button a bit more prominent via color tha

[2022-01-19 15:00] Laul0 commented on #33
Hi @tmarchetti00, thank you for your feedback, it is really important for us.
We will try to reproduce the same behavior on our side and keep you in touch.

[2022-01-19 15:02] Laul0 commented on #32
Hi @tmarchetti00, thank you for your feedback, and the detail/quality of your issues 💪🏻
We will try to reproduce the same behavior on our side and keep you in touch.

[2022-01-19 18:27] Laul0 commented on #31
Hi @tmarchetti00, thank you for your feedback, and the detail/quality of your issues 💪🏻
We will try to reproduce the same behavior on our side and keep you in touch.

[2022-01-28 15:08] pravin080317 opened #34 "custom data source (data visualizer webpart) and custom suggestion providers (Search box webpart)"
we have a production version of the search running. suddenly we are experiencing the below errors for custom data source and search box webpart. can i know why this error is occuring? we have a production app and its been accessed by users across.
![issue](https://user-images.githubusercontent.com/35328578/151570911-c6f75664-cf3d-4bcf-9aaf-45ecb0c1d00f.JPG)

**The custom data source with key 'Cust

[2022-01-28 16:16] pravin080317 commented on #34
@Laul0

[2022-01-28 19:27] Laul0 commented on #34
Hi @pravin080317,

Thank you to reaching us.

In accordance with the error message and your information, this kind of behavior can be mainly due to the CustomDataSource.

Can you check that your customization is still available/accessible and maybe try to disable it then connect it again?

[2022-01-31 18:26] pravin080317 commented on #34
@Laul0

This issue is a random one. we are able to access the webparts now. We are targeting the release of the modern search during Feb mid 2022 to larger audience and we are concerned about the cause of this issue.
we are using SharePoint search and my custom source as Data sources.
![image](https://user-images.githubusercontent.com/35328578/151851086-84b9d369-46ee-4bcd-852d-271233d57f23.png)

[2022-01-31 19:54] randhawaryan opened #35 "[BUG] Error setting aequosDataVisualizer_DataSourceDataCurrentPage in session storage"
**Version used**
Ex: 1.3.2

**Describe the bug**
On web part load (or page refresh) we are intermittently seeing an error message
Failed to execute 'setItem' on 'Storage'. Setting the value of 'aequosDataVisualizer_DataSourceDataCurrentPage_[guid]' exceeded the quota.
This error occurs when the browser session storage is almost full and the data visualizer page is loaded

Question - is there an op

[2022-02-03 14:45] tmarchetti00 opened #36 "[QUESTION] Your question here"
**Version used**
Ex: 1.3.2

**Question**
Can you confirm if the following fix will be included in v1.4.0?

**Additional context**
https://github.com/microsoft-search/pnp-modern-search/issues/1339

[2022-02-03 15:27] Laul0 commented on #36
Hi @tmarchetti00,

The next version should fix it because we changed the encoding mode of keywords from the search bar.
We will add this behavior into our tests for the next version to ensure that will be fixed.

When the fix will be confirmed on our side, we will close the issue.

[2022-02-08 14:27] joshconsultdolphin opened #37 "[BUG] Search Box & Verticals not working with Pagination"
**Version used**
Ex: 1.3.2

**Describe the bug**
When using the data visualiser web part with an OData source (that has the search and verticals values in the URL) and static paging, the filter panel works correctly, but the amending the search box or selected vertical does not work.

**To Reproduce**
Steps to reproduce the behavior:
1. Set an OData URL as the visualiser data source
2. Pass the se

[2022-02-10 15:07] MichalaLange opened #38 "App update not working and filter search results web part do not contain Value counts - see also issue 18 (customer has a license)"
**Version used**
1.2.1 in webparts (in app catalog and site its version 1.3.2)

**Describe the bug**
None of the webparts accept that app is updated to 1.3.2 (see screendumps)
The Filter search webpart has no Value counts column

**To Reproduce**
Steps to reproduce the behavior:
1. uploaded aequos-modern-data-visualizer.sppkg to app-catalog
2. uploaded app to site
3. Open webparts - the webparts a

[2022-02-11 08:43] schaeferalexander opened #39 "[QUESTION] Do you have any plans for a 'Refiner' filter type for taxonomy fields?"
**Version used**
Ex: 1.3.2

**Question**
Do you have any plans for a 'Refiner' filter type for taxonomy fields? Will there be a future release with the 'Refiner' filter type for taxonomy fields for filter webpart or do you will not implement this feature?

**Additional context**
In one of our customer projects we want to use your solution. The main feature the customer needs there is the hierarchi

[2022-02-11 14:14] Laul0 commented on #39
Hi @schaeferalexander,

Yes, this is the good channel to ask questions 👍🏻

We already provide a Taxonomy filter based on the term store. I think this is what you are looking for: https://aequos-solutions.github.io/modern-data-visualizer/usage/data-filters/#taxonomy-picker-template-configuration

[2022-02-11 17:08] schaeferalexander commented on #39
Hi @Laul0,

Thank you for the answer. Yes, this is the filter I am talking about and we want to use for our customer.
![2022-02-11_17h49_09](https://user-images.githubusercontent.com/99469961/153634588-f4300f02-39b0-4fe5-981d-34f966c7f873.png)
The issue is, that the values of the filter are still displayed even there are no search results available with the value:
![2022-02-11_17h51_26](https://us

[2022-02-11 19:08] Laul0 commented on #39
This is the expected behavior of this refiner.
As you well explained, the values of this kind of refiner are based on the Term Set and not on the results.

Currently, no improvement is planned to hide taxonomy terms or count items based on the search results.
We will add the suggestion to our internal backlog to keep track and maybe add this feature when the most priority issues will be done.

By

[2022-02-11 19:59] Laul0 commented on #38
Hi @MichalaLange,

In accordance with the provided information, your app seems up-to-date in the SharePoint catalog without error.

In this kind of case, this behavior can be due to your browser cache. Did you try to clear your browser cache or test through a Private session with your browser? Or use another browser?

[2022-02-11 20:19] Laul0 commented on #35
Hi @randhawaryan,

We are working on your issue.

In any case, the fix will be available on the next version `1.4`

[2022-02-11 20:34] Laul0 commented on #34
Currently, we cannot reproduce your issue, and we do not know any other people who met this issue.

- Nobody seems to met issues with the embedded Data Sources - this kind of issue could have revealed a problem with the DataVisualizer Web Part and the data source connection
- Other people who developed a Custom Source do not seem to meet this issue neither

We will keep an eye on it, but we are qu

[2022-02-11 21:23] Laul0 commented on #29
Hi @randhawaryan,

As @FranckyC mentioned, you can use the SharePoint search pagination information to get more than 500 items.

Here, a link that explain the idea: https://docs.microsoft.com/en-us/sharepoint/dev/general-development/pagination-for-large-result-sets

Hoping this information will help you

[2022-02-11 21:24] Laul0 commented on #27
Hi @thijsvgils,

Did the information provided to you help you?

[2022-02-11 23:22] #30 closed

[2022-02-13 16:01] tmarchetti00 opened #40 "[QUESTION] Manage Columns - Date formatting"
**Version used**
Ex: 1.3.2

**Question**
When working with layout options, is there a way to format dates and still have the column be sortable?  Currently when select "Use handlebar expressions" it disables the sort option.

**Additional context**
Ideally - We'd like to use the following format and still have it sortable
{{getDate RefinableDate11 "L"}}

Not using expression
![image](https://user-

[2022-02-14 07:59] MichalaLange commented on #38
Hi
I have tried the things mentioned (other browser, inprivate browser, F12 clear cache, Empty cache and Hard reload) – but the webparts still think they are the old version 1.2.1

I have made new pages, with new webparts, and the webparts still think they are the old version.

Do you have more ideas what to do?
Med venlig hilsen / Kind regards,
Michala Lange Baerentsen
Fellowmind | Senior Busines

[2022-02-14 14:10] Laul0 commented on #38
Hi,
It seems not trouble with the cache of your browser 😉
Did you try to remove the app, from your SharePoint site collection and upload and install it again?

[2022-02-14 14:35] MichalaLange commented on #38
If I remove and reinstall the app on the sitecollection, what will happen with my configuration of the webparts?
Med venlig hilsen / Kind regards,
Michala Lange Baerentsen
Fellowmind | Senior Business Consultant | +45 4130 4313<tel:+45%204130%204313>

From: Laul0 ***@***.***>
Sent: Monday, February 14, 2022 3:11 PM
To: aequos-solutions/modern-data-visualizer ***@***.***>
Cc: MichalaLange ***@***.*

[2022-02-14 15:31] Laul0 commented on #38
Nothing. All the configuration is stored in the page data.
Moreover, you had installed the app in your Tenant level too.

[2022-02-14 18:52] Laul0 commented on #40
Hi @tmarchetti00,

Maybe you already read the documentation, but currently, as mentioned: https://aequos-solutions.github.io/modern-data-visualizer/usage/data-visualizer/layouts/#details-list

**Sortable**: allows you to sort column values alphabetically when the column header is clicked (ascending or descending). The sort is done statically on the current page results set and _**works only when t

[2022-02-16 18:31] MichalaLange commented on #38
Hi Laul0

I have now twice removed and added the Aeqous-app on the customers sitecollection.
The result is the same:
The webpages on the sitecollection do not acknowledge that the app is a newer version (they insist on remaining version 1.2.1 and not the 1.3.2 wich the app is).

Do you have any idea what could be wrong?

Actually all this stems from a problem in the present Aeqous Filter webpart u

[2022-02-16 19:51] Laul0 commented on #38
Hi @MichalaLange,

Can you try to update the package to the Tenant level?
I suspect that your site collection app catalog does not work as it should be. I met this case once when the site collection app catalog was not created correctly.

[2022-02-22 13:31] tmarchetti00 opened #41 "[QUESTION] Filter Search"
**Version used**
1.3.2

**Question**
I was testing if I just serched for "estimates" if "population estimates" would come back in the filter search results but it does not. I have to include Population in my search. Then I was wondering what results I would get if I enter just “e” and I was surprised to see surveillance included. I would not have expected that term to come back.

Are there differe

[2022-02-24 12:27] svenbru opened #42 "[QUESTION] Loading adaptive cards from CDN"
**Version used**
1.3.2

**Question**
Are there any plans on making it possible to load adaptive cards from a CDN or local library? It would be a handy feature if we could reuse adaptive cards instead of configuring the template every time.

[2022-02-26 23:46] tmarchetti00 opened #43 "[Question] Search boxes show encoded characters."
**Version used**
Ex: 1.3.2

**Question**
**Version used**
Ex: 1.3.2 & 1.4.0 Beta

**Describe the bug**
When using the aequos - Search Box is it expected behavior the spaces in the search term encoded when displayed in the SharePoint Online search bar?

![image](https://user-images.githubusercontent.com/96263197/155862523-30202d62-f50d-4f47-ba13-ef897e4a8881.png)

If the search is entered directly

[2022-02-28 20:52] Laul0 commented on #43
Hi @tmarchetti00,

We reproduced your behavior. This behavior appends when you have a scenario that the query is sent to a new page (the page can be the same).
This is not volunteer, we added this behavior to our backlog and we will implement a fix for the next version.

Thank you for your feedback 👍🏻

[2022-03-01 06:47] schaeferalexander commented on #39
Hi @Laul0,

thank you for the idea with the alternative solution (full path term and rearranging the terms by splitting them). It seems to work so far. There are only two other effects where we working on now.

- In the UI of the selection dialog the full path is shown because of the setup. What is not very pretty, but not really a show stopper
- The customer environment (and the solution) is mult

[2022-03-01 19:08] Laul0 commented on #42
Hi @svenbru,

To reuse a Template, Adaptive Cards, or Handlebars, you have three options:

1. Copy/paste source: (it seems your case) it is a good option when you only have one visualizer or if you have configured several web part but the template never changes
2. You can create your own extensibility and deploy it in your environment. With this use case, your layouts will appear among the other e

[2022-03-02 14:37] igordemjanov opened #44 "[BUG] Not able to reference Result source by scope and name"
**Version used**
1.3.2

**Describe the bug**
Not able to reference a Result Source by scope and name in Data Visualizer web part. According to documentation it should be possible:

_Can be either a built-in result source ID listed in the dropdown, or a custom result source that you specify. Type the GUID of the result source, or the SCOPE and NAME, separated by \| (pipe character). For this to tak

[2022-03-03 08:33] pravin080317 opened #45 "[BUG] document data source results duplicates"
**Version used**
Ex: 1.4.0

Recently we observed that document source search result items are getting duplicated in the search page. Is there a way to avoid the duplicates in the handle bar or via refinements?
Below is the query template used for the document data source. Please let us soon since this is affecting the multiple users.

Query template:
{searchTerms}   -FileExtension=aspx path:https:

[2022-03-03 12:46] pravin080317 commented on #45
We have recently setup the Geolocation. is this because of the Geolocation setup?
please note that the query builder tool  gave us correct results.  We have 2 geolocations set up so I'm guessing that's the issue.  I
Is there a way to limit the results to the first one only and eliminate duplicates? kinldy note that this is a production issue and affecting multiple users..

[2022-03-03 20:13] Laul0 commented on #45
Hi @pravin080317,

This is due to your GeoLocation environment as mentioned in the Microsoft documentation: https://docs.microsoft.com/en-us/microsoft-365/enterprise/configure-search-for-multi-geo?view=o365-worldwide#how-does-search-work-in-a-multi-geo-environment

We are in the case of https://docs.microsoft.com/en-us/microsoft-365/enterprise/configure-search-for-multi-geo?view=o365-worldwide#cus

[2022-03-03 20:27] pravin080317 commented on #45
Thank you for pointing out to references.

Can we investigate why the results are not merged?? Do we have any alternate option/settings to overcome this issue..

[2022-03-03 21:31] Laul0 commented on #44
Hi @igordemjanov,

This is not a bug. Our documentation matches the latest available version. Our latest version is the 1.4 beta that implements this feature.

[2022-03-03 21:31] #44 closed, assigned to Laul0

[2022-03-03 21:40] Laul0 commented on #45
We do not have any power over the OOTB merging data performed by Microsoft during a search. I don't think we were already faced with this kind of use case.

We need to investigate and plan to implement a feature to handle this use case.

That being said, if you find anything else, feel free to put this information in this thread to help us in our investigations.

In a meantime, we will check if we

[2022-03-04 09:32] yhabersaat commented on #45
Hi @pravin080317, @Laul0,

I've just reached out SharePoint product group at Microsoft to clarify the results merging behavior based on the documentation.

I'll update this thread when I have a feedback.

[2022-03-04 09:33] pravin080317 commented on #45
Sure thanks

[2022-03-04 14:36] #34 closed

[2022-03-04 14:36] pravin080317 commented on #34
this is not happening currenly.. will track on this

[2022-03-04 19:39] FLXNBC opened #46 "Can I use a token in an Odata (Graph) post body?"
**Version used**
1.4.0

**Question**
Can I use a token in an Odata (Graph) post body?

**Additional context**
I'm trying to do graph query with the Odata data source but for some reason tokens are not working (being replaced with values) on the post body.
For example : {CurrentDate}

[2022-03-04 21:09] Laul0 commented on #46
Hi @FLXNBC,

Based on our code, all known Tokens referred to in the Body Graph with a POST request are replaced ( `{CurrentDate}` is among the list).

<img width="333" alt="Screen Shot 2022-03-04 at 16 08 52" src="https://user-images.githubusercontent.com/15279205/156841838-5a68227f-651c-4299-a0e0-7b4c94134884.png">

[2022-03-07 21:20] FLXNBC commented on #46
Not working but its probably me that is not using it properly…

here is an example of the body :

{
             "attendees": [
                           {
                                        "emailAddress": {
                                                      "address": "{User.Email}"
                                        },
                                        "type": "Required"

[2022-03-07 22:51] Laul0 commented on #46
I will check this on my side and keep you in touch

[2022-03-15 14:29] ZFWG opened #47 "[BUG] Taxonomy picker - No arrow displayed"
**Version used**
Version: 1.4.0

**Describe the bug**
When using the Taxonomy picker with more than 10 terms the next page arrow does not appear.

**To Reproduce**
Steps to reproduce the behavior:
1. Add filter webpart to Sharepoint page.
2. Select termset that has more than 10 terms.
3. Expand Taxonomy filter, you can hover mouse over next location but arrow does not appear.
4. See error

**Expec

[2022-03-15 14:31] Laul0 commented on #47
Hi @ZFWG,

Thank you to report this issue. We can reproduce it on our side and we'll fix it on the next release 👍🏻

[2022-03-16 06:37] svenbru commented on #42
Hi @Laul0,

Thanks for the input!

We'll probably go for option 2 :)

Kind regards,
Sven

[2022-03-16 06:37] #42 closed, assigned to Laul0

[2022-03-16 21:40] Laul0 commented on #45
Hi,

As mentioned in the documentation, the below services work with multi-geo:
- The SharePoint home page
- The Search Center
- Custom search applications that use the SharePoint Search API

It is important to understand what is mentioned in the documentation:
- **The SharePoint home page**: [...]  If they use the search box on the SharePoint home page, they'll get **merged results** from multipl

[2022-03-17 10:34] ziggyre opened #48 "Problem with using Grid in Results template"
**Version used**
Ex: 1.3.2

**Describe the bug**
Hi. Until a few days ago, the below code would generate this:

1 2
3 4

Now the result is

1
4
                                               3

What can be the problem?

Best regards,
Sigve

_<content id="data-content">
    <style>
           .container {
            display: grid;
            background: green;
            grid-template-columns: 4

[2022-03-17 20:00] Laul0 commented on #35
Hi @randhawaryan,

Meanwhile, to avoid this error message you can enable the cache feature and select the minimal delay (5 min) to ensure the cache expiry.
The next version will just ensure to not store cache if the toggle is disabled and catch the error if the browser cache is full.

[2022-03-18 00:24] Laul0 commented on #48
Hi @ziggyre,

The only variable is SharePoint; we didn't change anything on the template interpretation.
If a parent element class changed, that could impact your template.
I tried your CSS and try another one that works ([reference](https://www.w3schools.com/css/css_grid.asp)):

[code]

Result:
<img width="271" alt="image" src="https://user-images.githubusercontent.com/15279205/158914428-864aca6e

[2022-03-18 07:14] ziggyre commented on #48
I am a client, but this is possibly not a problem in my tenant only. My problem is that grid-template-areas has stopped working, my actual code is more complex that the exampIe above. Can you try this code (it is your code with areas added):

<style>
	.grid-container {
		display: inline-grid;
		grid-template-columns: auto auto;
		background-color: green;
		padding: 10 px
		gap: 20px ;
		grid-templ

[2022-03-18 12:46] Laul0 commented on #48
When I am trying your code (with some fix), I have this:
[code]

Result:
<img width="281" alt="image" src="https://user-images.githubusercontent.com/15279205/159005225-200d2cda-6e71-4060-bc8f-b2bcc6d164c5.png">

---

As I said, we can't change anything remotely on MDV and if you didn't change anything too, the only part that we don't control is the SharePoint UI.
I understand your point and we wil

[2022-03-18 13:03] ziggyre commented on #48
It should be possible to rewrite the code. Grid-template-areas are very effective for generating grids with different-shaped elements, it would be nice if it starts working again in the future. This is a nice place to generate grids: [https://grid.layoutit.com/] . Thank you for your help. :-)

[2022-03-18 13:03] #48 closed, assigned to Laul0

[2022-03-21 17:35] Laul0 commented on #46
Hi @FLXNBC,

I confirm that the tokens are resolved well.

Just note:
- `{CurrentDate}` return 'DD' (ex: 21). Your request cannot work with this information. You must use `{Today}` because the format must be: _YYYY-MM-DDThh:mm:ss.000Z_
- `{Today}` is a token, if you do `{Today+5}` that does not work! To increment the date you must write `{Today}+5` to add 5 days to the current date (we noted that

[2022-03-21 17:36] #46 closed, assigned to Laul0

[2022-03-21 18:19] Laul0 commented on #37
Ho @joshconsultdolphin,

Did you try your use case with the latest version `1.4`?

[2022-03-21 18:55] Laul0 commented on #41
Hi @tmarchetti00,

Thank you for your feedback.

First of all, you have to know that we are waiting for more Public API from Microsoft to improve the features linked to the SharePoint Taxonomy.

We are using a request that asks to return all terms (in the selected termset) that "begin with" the keyword typed in the search bar.
We don't have more flexibility with the current request that we are per

[2022-03-21 18:55] #41 closed, assigned to Laul0

[2022-03-22 12:00] joshconsultdolphin commented on #37
The same issue also occurs in version 1.4 beta

[2022-03-22 18:54] Laul0 commented on #37
Hi @joshconsultdolphin,

Filter Web Part is linked to the Visualizer Web Part (mutual connection). This is not the case for Verticals and Search Box Web Part.

In other words, the visualizer is not updated in static mode when Verticals or Search Box changed. You must redirect the page when the value change to update the page results based on Verticals or Search Box values.

This is because you cho

[2022-03-25 13:50] pravin080317 opened #53 "Data Visualizer Search api: [HTTP]:500 - [CorrelationId]:e8372da0-c07d-1000-b8cd-c152791bc49f [Version]:16.0.0.22302 error"
**Version used**
Ex: 1.3.0.0

**Describe the bug**
Data Visualizer search webpart is throwing HTTP 500 error.
[HTTP]:500 - [CorrelationId]:e8372da0-c07d-1000-b8cd-c152791bc49f [Version]:16.0.0.22302

please find the attached log and image for further details.

[apollomgt.sharepoint.com-1648216130548.log](https://github.com/aequos-solutions/modern-data-visualizer/files/8351031/apollomgt.sharepoint.

[2022-03-25 15:13] Laul0 commented on #53
Hi @pravin080317,

What is the type of datasource?
This kind of error is mainly due to an issue with the source (timeout, unreachable, wrong request or too big, permissions, etc.) - 500: Internal error.

Do you have any other way to request the datasource to ensure this one works as expected?

[2022-03-25 16:48] pravin080317 commented on #53
we are using sharepoint search. please find the settings below
![image](https://user-images.githubusercontent.com/35328578/160164878-7720a768-fa15-4036-b08d-c142e15dce25.png)
![image](https://user-images.githubusercontent.com/35328578/160165021-584f53d5-ff28-4988-b4cc-5947f6f3b5be.png)

[2022-03-25 19:08] Laul0 commented on #53
I suspect your Result Source. Did you try another one?

Note: in your issue, you specify you are using 1.3.0, but based on your screenshot, you are using 1.4.0

[2022-03-26 02:10] pravin080317 commented on #53
Even if i select the other data sources, like documents, Local sharepoint results we are getting the same error. i even deleted the webpart and added the webpart again and selected the other default data sources like documents etcs with sharepoint search but the error is still there.
![image](https://user-images.githubusercontent.com/35328578/160220545-066e7e65-5cc3-42cc-901b-221207fadab8.png)

Re

[2022-03-26 03:02] pravin080317 commented on #53
Please note that the issue is happening before rendering the template, so even if we choose debug template, the result is same.

[2022-03-28 12:24] pravin080317 commented on #53
we tried to test whether the result source is working from our end using search query tool and found that we are getting results from result source using search query tool. please find the log for the reference.
[workfingsearchapifromsearchquerytool.txt](https://github.com/aequos-solutions/modern-data-visualizer/files/8362573/workfingsearchapifromsearchquerytool.txt)

[2022-03-28 15:35] Laul0 commented on #53
Hi,

The only way to help you now is to know what is the request sent by MDV.
Can you provide us the search request sent by MDV? Even if have no results, the request should be sent anyway.

[2022-03-28 16:21] donsiebers commented on #21
Hi @FranckyC - any update on where this may sit on your roadmap/priority?

[2022-03-28 16:45] Laul0 commented on #21
Hi @donsiebers,

As Franck mentioned, this feature is in our roadmap - we still have no ETA for now. We are working on the backlog for the next quarter; we will have more visibility in the next few weeks

[2022-03-30 09:18] ZFWG opened #54 "Taxonomy filter not returning result if multiple tags selected."
Version used
Version: 1.4.0

**Describe the bug**
When searching a typing a phase into search box and applying multiple filters with the 'AND' setting the Data Visualizer returns 0 results.
If I leave the search box empty and select multiple filters with the 'AND' setting the Data Visualizer returns 0 results.
If I enter a search term and select a single filter the Data Visualizer returns expected

[2022-03-31 14:42] Laul0 commented on #54
Hi @ZFWG,

Can you check with the debug layouts that you have the expected values returned by the search?

You can check these points:
1. If you are using SharePoint Search, the mapping field/metadata with `RefinableStringXX` and you are using `ows_taxId_[...]`
2. Add the property to the `Selected Property` of the Visualizer
3. Use Debug Layout to validate the value of the RefinableStringXX

Thank

[2022-03-31 22:43] Laul0 commented on #47
This issue should be fixed with the latest release today. Feel free to reopen this issue if the problem persists.

[2022-03-31 22:43] #47 closed, assigned to Laul0

[2022-03-31 22:44] Laul0 commented on #31
This issue should be fixed with the latest release today. Feel free to reopen this issue if the problem persists.

[2022-03-31 22:44] #31 closed

[2022-03-31 22:44] Laul0 commented on #32
This issue should be fixed with the latest release today. Feel free to reopen this issue if the problem persists.

[2022-03-31 22:44] Laul0 commented on #33
This issue should be fixed with the latest release today. Feel free to reopen this issue if the problem persists.

[2022-03-31 22:44] Laul0 commented on #35
This issue should be fixed with the latest release today. Feel free to reopen this issue if the problem persists.

[2022-03-31 22:44] #35 closed

[2022-03-31 22:44] Laul0 commented on #36
This issue should be fixed with the latest release today. Feel free to reopen this issue if the problem persists.

[2022-03-31 22:45] Laul0 commented on #37
This issue should be fixed with the provided information and the latest release today. Feel free to reopen this issue if the problem persists.

[2022-03-31 22:45] Laul0 commented on #43
This issue should be fixed with the latest release today. Feel free to reopen this issue if the problem persists.

[2022-03-31 22:45] #43 closed, assigned to Laul0

[2022-04-01 14:29] Laul0 commented on #22
This issue should be fixed with the latest release today. Feel free to reopen this issue if the problem persists.

[2022-04-01 14:29] #22 closed

[2022-04-05 10:50] sukh-consultdolphin commented on #37
I have followed the instructions above to get the static pagination working. There are a couple issues:

1. The result sorting does not match the sorting coming from the OData response
2. The search box does not work following the instructions above, I can see the "q" query string is correctly there but when the page reloads on searching, the search field is empty and the results are not filtered

[2022-04-05 18:44] Laul0 commented on #37
Hi @sukh-consultdolphin,

1. Did you check the POST Search query from the debug to ensure the filters are correctly defined?
2. Did you configure the parameter name of the search box?

[2022-04-12 20:08] ghost commented on #32
Still seeing this issue with release 1.4 (no difference between AND/OR when using taxonomy filter and selecting a term with child terms with the option to include children).

[2022-04-13 00:23] Laul0 commented on #32
Noted.
We will try on our side again to reproduce the issue and define this issue with a high priority.

Thank you for your feedback

[2022-04-26 02:59] mayabank opened #55 "Using ElasticSearch as search schema for data visualizer"
Hello,

My requirement is to rely on ElasticSearch as the search schema for content that is stored in SharePoint. There are separate microservices for making entries into ElasticSearch index when a new record is created in SP.

ElasticSearch would expose simple json based rest apis for searching through the indexes.

The question I have is -
1. Can I solve this via Anonymous API? If so, would the

[2022-04-26 16:05] Laul0 commented on #55
Hello @mayabank,

Thank you to reaching us; your questions are interesting:
1. Yes. With OData anonymous Data Source you can request any API.
  **Note**: if you enabled the authentication, please refer to the Elastic documentation to set the appropriate headers ("Authorization": "Basic xxxx")
2. You can create a custom Data Source too. This method allows you to have more options, flexibility on th

[2022-04-26 17:01] mayabank commented on #55
Hello Laul,

Thank you for the response.

I havent been able to complete the POC and my trial expired. Is there any way that my trial is reinstated to be able to complete the POC?

Would be looking forward for acquiring license if the solution matches our requirement. Would it be possible to get in a call to demonstrate our our requirements and seek your help as to what you can do for us v/s not.

[2022-04-26 17:55] Laul0 commented on #55
Hi @mayabank,

Sure, we can see for exceptionally extend your trial version to let you enough time to test your use case.

Of course, we can schedule a point for some minutes to check your requirements and give you an ETA.

I will reach you by email for the meeting and for additional information to extend your trial version.

Best regards,

[2022-04-27 06:52] mayabank commented on #55
Sure. Thank you. Looking forward to meet you.

With regards,
Mayank

[2022-04-28 22:22] ghost commented on #33
Hi @Laul0 - could we re-open this please? We're still seeing the same bug/inconsistency as in the reproduction steps.

[2022-04-29 07:57] mayabank commented on #55
Hello,

Thank you. looks like license extended. But getting following error while adding search web part to page.

[SPLoaderError.loadComponentError]:
Failed to load component "544c1372-7e5a-49ec-8db6-812f76c375f2" (aequosSearchBoxWebPart). Original error: Failed to load URL 'https://publiccdn.sharepointonline.com/keysighttech.sharepoint.com/sites/filenetdev/ClientSideAssets/59903278-dd5d-4e9e-bef

[2022-04-29 12:56] Laul0 commented on #55
Hi @mayabank,

Did you upgrade the version of MDV?

[2022-04-29 12:59] Laul0 commented on #33
Hi @randhawaryan,

Yes, we can reopen it. We will try on our side again to ensure that the behavior is correct or not.

[2022-04-29 19:21] ghost opened #56 "[QUESTION] Ability to edit web part properties (JSON)"
**Version used**
Ex: 1.4.0

**Question**
The web parts in the PnP Modern Search V4 solution have a section "Import / Export Settings" where you can edit the JSON properties of the web part. Would it be possible to have this functionality added to the Aequos solution?

We have a use case where we need to manually increase the itemsCountPerPage property to greater than 50. Currently we are doing thi

[2022-05-02 13:24] Laul0 commented on #56
Hi @randhawaryan,

Thank you for your feedback 👍🏻
We took a good note of your request and we will evaluate it internally.
We will share you an ETA as soon as possible.

Thank you

[2022-05-03 13:11] salascz opened #57 "[QUESTION] Taxonomy picker - site level term sets support"
**Version used**
1.4.0

**Question**
Do you support term sets created in site collection level term group?

**Additional context**
I am able to select term set from global term group, but I do not see term sets from site collection term group. Is it supported? Unfortunately, it is kind of complicated to use global term groups in our tenant...

![image](https://user-images.githubusercontent.com/566

[2022-05-03 13:18] Laul0 commented on #57
Hi @salascz,

Thank you for your question!

Unfortunately, the solution does not support the site collection level terms groups. It is mainly due to some technical constraints

[2022-05-04 06:57] mayabank commented on #55
Hello Laurent,

Thank you for your time yesterday.

I tried registering an extension. Post that web parts started failing. I tried deleting and reinstalling the sppkg completely afresh but the problem continues to persist. Can you please suggest how can I fix it?

![image](https://user-images.githubusercontent.com/84386411/166635179-0a3b9e06-1c68-4740-9889-c88d5b5f1e1e.png)

Thanks and regards,
Ma

[2022-05-04 07:36] pravin080317 commented on #53
This issue i happening for random users. if the user refresh the page, the error goes away. Please do let me know if there are any way to track this or log this error?

![image](https://user-images.githubusercontent.com/35328578/166639671-86be379b-b1b0-421a-8328-c6e1dc6b374c.png)

[2022-05-04 09:43] salascz commented on #57
Hi @Laul0,
thanks for quick response. Could you elaborate technical constraints? It should not be a problem to return such a term groups using standard Graph API call, right?

`https://graph.microsoft.com/v1.0/sites/<site-id>/termstore/groups/`

Seems to return groups for both "global" and "siteCollection" scopes in my case...

[code]

Thanks

[2022-05-04 10:23] mayabank commented on #55
Hi Laurent,

I solved this by changing the menifest id in the sppkg and redeployed with a dummy id. It worked. Thank you.

I got a question around slots wherein my datasource is SharePoint. There are a few pre-defined properties only to choose from when it comes to create a slot. How can I add my own property here? There are a few tenant level properties (for ex- ContentType) of which I manually e

[2022-05-04 10:40] mayabank commented on #55
HI Laurent,

Looks like the properties to fetch from datasource is hardcoded in chunk.sharepoint-search-datasource_1ff4c0b860f47cc81dd5.js. How the new properties/dynamically added here?

![image](https://user-images.githubusercontent.com/84386411/166666342-aa378c85-b26f-4a73-a82d-17fd671aa3f7.png)

Thanks and regads,
Mayanks

[2022-05-04 12:41] Laul0 commented on #53
Hi @pravin080317,

If a user needs to refresh the page to see the result rather than an error, that let me think about an async auth issue.

I met this kind of behavior through Teams because the user Token is released after the search request.

You can try to debug through InPrivate navigation.

The difficulty will be generating a new token (without waiting for the expiry) to detect the async part

[2022-05-04 13:25] Laul0 commented on #57
Hi @salascz,

It is mainly due to the Taxonomy picker was developed before the Graph API allows to get Taxonomy. And behind the scene, Graph API does not allow some actions yet.
The Taxonomy filter is a little bit more complex than just getting terms from the term store:

- localization
- a lot of batch call to retrieve and manage the terms
- filter and select

But we are keeping an eye on it and

[2022-05-04 13:49] pravin080317 commented on #53
Thanks for the response. let me check on it.. Meanwhile, is there a way to not to show webpart if there are error like this?

[2022-05-04 13:54] Laul0 commented on #55
Hi @mayabank,

Glad to read that you fixed your issue about upgrading the package, even if it is quite weird such as behavior.

About the slots, it is a recommendation to use them - they help you to edit mapping without it your Template, but you can define item properties directly in your Template if you don't want to use the Slots.
Everything about the slots is explained in our documentation: htt

[2022-05-04 13:54] #55 closed, assigned to Laul0

[2022-05-04 13:57] Laul0 commented on #53
Good question. I didn't try myself, I don't think so. Did you check the checkbox to hide the Web Part when there is no result?
If it is the case, then it is not possible to hide the Web Part when an error occurred.

[2022-05-05 10:18] mayabank opened #58 "Multiple Questions"
Hello Laurent,

While exploring further got following questions -
1. Search Filters - The filter values are shown from the items that are loaded on the current page? For example if there are 1000 items in result set of which on 10 are rendered on the current page (in pagination), then it will show the filter values from the 10 only? How can we show filter values form entire of the result set while

[2022-05-06 12:54] pravin080317 commented on #53
Thanks for the response. will check this and get back

[2022-05-06 12:58] pravin080317 opened #59 "[QUESTION] MultiGeo Environment License"
We recently enabled multi geo environments for sharepoint online. When we tried to deploy the app package in satellite location, we are getting license expired error.
Do we need to To setup a standalone license for all satellite locations? is the same license key will work for all satellite geo locations. Please let us know.

https://aequos-solutions.github.io/modern-data-visualizer/setup_standalo

[2022-05-06 17:42] Laul0 commented on #59
Hello @pravin080317,

The license key works per Tenant. In other words, if the Tenant ID is not the same on the satellite, the license can't work; you need a license per satellite.

[2022-05-06 19:01] Laul0 commented on #58
Hello @mayabank,

Here, are the answers to your questions:

1. **Filters**: it is due to your results and mapped refiners. If you want more available filters than those provided on the current page results, your service / API needs to return all available values such as [SharePoint](https://docs.microsoft.com/en-us/previous-versions/office/developer/sharepoint-2010/ms563775(v%3doffice.14)) does
2.

[2022-05-07 01:58] Laul0 commented on #45
This issue has been closed because it has been inactive for more than 30 days.
You may reopen this issue if it has been closed in error.

[2022-05-07 01:58] #45 closed, assigned to Laul0

[2022-05-07 01:59] Laul0 commented on #38
This issue has been closed because it has been inactive for more than 30 days.
You may reopen this issue if it has been closed in error.

[2022-05-07 01:59] #38 closed

[2022-05-09 07:59] pravin080317 commented on #59
The tenant id is same same for both the environments. please find the image below. can we follow the same steps (by referring the below link) to activate it for geo? (https://aequos-solutions.github.io/modern-data-visualizer/setup_standalone/)

[2022-05-09 14:28] Laul0 commented on #59
Hi @pravin080317,

It is not like this I would check the ID of your Tenant because in your case, you are checking a user and of course, if your users are managed in the same environment, you have only one Tenant ID for them, but it is not necessarily the case for your SharePoint site.

Here is a post that introduces you to several ways to check a Tenant ID and I would use the REST API solution:htt

[2022-05-12 12:51] pravin080317 commented on #59
Hi,

We have followed the above post and found that the tenant id is same for both default location and satellite geo location.
Please let us know if the tenant id is same, can we configure the geo location tenant to set m365 spo storageentity  and activate the license for satellite geolocation same as default location. If we set the storage entity and configure the licence key for geo location te

[2022-05-13 10:23] satyendrapandanonkeysight opened #60 "Taxonomy Filter not Working"
Hi Team,
We are trying to use Taxonomy Filter in Modern Data Visualizer. But when we try to Browse to Term Set nothing is showing up.
It shows the spinning wheel and after sometime gets the "Editing Session Ended" message.

Version: 1.4.0

![Capture](https://user-images.githubusercontent.com/105491316/168264496-1c722844-93ac-4200-9fb2-ccf5137360dc.JPG)

![image](https://user-images.githubuserconte

[2022-05-13 13:12] Laul0 commented on #60
Hi @satyendrapandanonkeysight,

Thank you to contact us.
Did you accept the API Access requests from the SharePoint admin?
![image](https://user-images.githubusercontent.com/15279205/168290882-844995d1-083b-45d0-ad8b-d5303c2eb617.png)

[2022-05-16 11:49] Laul0 commented on #21
Hi @randhawaryan,

We planned to introduce the sort results between **Q3-Q4 2022**.

Thank you again for your question 👍🏻

[2022-05-18 12:34] Laul0 commented on #59
Hi,

Can you check if a request is sent to the URL https://aequosmdvdev.azurewebsites.net/ ?
If yes, what is the status code and the Response?

Note: a localstorage key is created the first time and available for 24 hours (maybe clear the localstorage)

[2022-05-19 03:01] Laul0 commented on #59
The license was updated on our system - your issue is solved - if the problem persists, feel free to open this issue again.

[2022-05-19 03:01] #59 closed, assigned to Laul0

[2022-06-29 14:52] apadev opened #62 "Format results from mgt-get using handlebars helpers"
**Version used**

1.3.2

**Question**

We're trying to format results from mgt-get inside a custom result template and we don't know how to get handlebars to read the value coming from the mgt-get result.

**Additional context**

We are getting a string from MSGraph API using mgt-get and we're trying to format it using the {{phoneNumber ...}} handlebars helper.

We tested the following configurati

[2022-06-29 22:50] Laul0 commented on #62
Hi @apadev,

I am not sure to understand your issue.
You have a custom Template and you want to format the display of the data - in your case, the phone number of a user profile.
To use the data of Graph, inside the element, you can get the value in the context `{{PhoneNumberAttribute}}`.
As mentioned in the [Handlebars-helper documentation](https://github.com/helpers/handlebars-helpers#phoneNumbe

[2022-07-28 19:12] ghost commented on #19
Hi @Laul0 - I noticed that Microsoft closed the Microsoft Graph API bug that was raised (previous comment). Would it be possible to get an update on this issue? The ability to selectively display filters is a key use case for us and we're hoping we can get this resolved.

As a workaround, would there be an option to add a custom property to a term (or use the Deprecated or Available for Tagging fl

[2022-08-11 18:28] rsteich opened #64 "Product ID collides with pnpModernSearch"
**Version used**
1.4.1

**Describe the bug**
The Product ID in the deployment package is identical to the one uses by the pnpModernSearch package. This is causing issues with deploying the two solutions side by side for comparison and evaluation.

**To Reproduce**
Steps to reproduce the behavior:
1. Deploy the pnpModernSearch package
2. Deploy the modern-data-visualize package

**Expected behavior

[2022-08-12 16:59] Laul0 commented on #64
Hi @rsteich,

This behavior is totally expected.
Thank this, you can migrate from PnP Search to Modern Data Visualizer without reconfiguring your pages.

https://aequos-solutions.github.io/modern-data-visualizer/upgrade_from_pnp/

[2022-08-12 16:59] #64 closed, assigned to Laul0

[2022-09-14 11:40] MichalaLange opened #65 "[BUG] Filer webpart has issues with search behaviour in the multi value combo box lookup (customer has bought license)"
**Version used**
Ex: 1.4.0

**Describe the bug**
The customer has several different issues with the search behaviour in  the filter webpart, managed metadata combo box (screendump 2-5)
The values in the field in Termstore is not above limit (screendump 1)
I have attached some screendumps to show you which kind of issues (screendump 2-5)

**To Reproduce**
Steps to reproduce the behavior:
We have to

[2022-09-14 12:06] Laul0 commented on #65
Hi @MichalaLange,

Thank you for reporting this issue. We will try to reproduce this behavior.

We will keep you in touch

[2022-09-19 22:06] Laul0 commented on #65
Hi @MichalaLange,

Based on our tests, everything seems ok.
Based on your screenshots and explanations, everything seems ok too:
1. The filter is case sensitive
2. The filter matches the results of the visualizer. If you have all your results, you should see your filter's values. If you use the search box and reduce the number of results, the number of values of the refiners will reduce too. There

[2022-09-24 20:05] donsiebers commented on #21
Hi @Laul0 and @FranckyC - just checking in to see if this is still planned for Q3/Q4 and if you know a release date yet.  Thanks!

[2022-09-26 11:39] Laul0 commented on #21
Hi @donsiebers,

Still planned for Q4 but no exact release date

[2022-10-03 17:52] ghost opened #66 "[BUG] Taxonomy Filter parent term not bolded when searching for child term"
**Version used**
Ex: 1.4.0

**Describe the bug**
When using a taxonomy filter with multi-level terms, if you click a child term the parent term is bolded.
If you use the taxonomy filter search box to search for a child term (level 2 or 3, for example), the parent term is not bolded.

**To Reproduce**
Steps to reproduce the behavior:
1. Configure a taxonomy filter with a filter search box enabled
2

[2022-10-03 22:15] Laul0 commented on #66
Hi @randhawaryan,

Thank you for your feedback. We noted it well and will try to reproduce the same behavior.
We will keep you in touch.

Thx

[2022-10-03 22:16] #53 closed, assigned to Laul0

[2022-10-03 22:16] #54 closed, assigned to Laul0

[2022-10-03 22:17] #58 closed, assigned to Laul0

[2022-10-07 12:05] satoali17 opened #67 "[BUG] Taxonomy Filter does not filter the documents -> no results"
**Version used**
Ex: 1.4.1.0

**Describe the bug**
After filtering for taxonomy term no documents are displayed although documents has the same taxonomy term.

**To Reproduce**
Steps to reproduce the behavior:
1. create taxonomy termset Scope
2. create multiple terms inside termset scope
3. create custom taxonomy column DocScope
4. add some documents and assign a term of termset Scope
5. Set Refin

[2022-10-07 19:22] Laul0 commented on #67
Hi @satoali17,

We think that your environment could not works with managed metadata with the current configuration.
1. Please read the documentation about the Managed Metadate Filter: https://aequos-solutions.github.io/modern-data-visualizer/usage/data-filters/#taxonomy-picker-configuration
2. Ensure your TermSet is Tenant Level (not site collection)
3. You should map the OWS_TAXID_DOCSCOPE from

[2022-10-14 11:25] satoali17 commented on #67
Hello Laul0, thanks for your quick response. We tried the step three and it works fine for us.

[2022-10-14 11:25] #67 closed, assigned to Laul0

[2022-10-26 12:06] Lennart28213 opened #68 "[BUG] Excel preview & people picker values in filters"
**Version used**
Version: 1.4.1

**Describe the bug**
Hello everyone,

I have two problems with MDV and hope someone can help me to solve them.

1. Excel files have no preview. Is there any way to enable it? We use the list template of the data visualizer.

![image](https://user-images.githubusercontent.com/105660404/198019412-43671b8b-caac-4538-b768-75ba93414b6a.png)

2. We have several columns i

[2022-10-26 19:49] Laul0 commented on #68
Hi @Lennart28213,

Thank you for reach us.

1. **Excel preview**
By default, MDV uses the property `AutoPreviewImageUrl` to display a preview image of the document. If you look at the debug mode, this information is `null`. This is not an MDV bug.
Alternatively, you can use the property `PictureThumbnailURL` (do not forget to include it in the _Selected properties_
<img width="1595" alt="image" sr

[2022-10-28 13:26] Lennart28213 commented on #68
Hi @Laul0,

Thanks for your help,
the first tip works perfectly, now all files have a preview image available.
Unfortunately I can't find the property `ows_q_USER_<columnName>`. The people columns are only displayed as normal `ows_<columnName>` properties.
I tried to make it available with [this guide](https://www.benprins.net/2017/10/02/sharepoint-online-managed-properties-user-information-not-av

[2022-10-31 18:39] Laul0 commented on #68
Hi @Lennart28213,

Glad to know that the first answer works for you.
About the other subject, no additional solution exists, but a couple of blogs share a similar behavior as yours with a potential solution as you can see
- https://sympmarc.com/2021/04/13/crawled-properties-not-created-from-site-columns-in-modern-team-sites/
- https://learn.microsoft.com/en-us/answers/questions/180845/sharepoint-o

[2022-11-02 13:37] Lennart28213 commented on #68
Hi @Laul0 ,
Thanks for the additional links, I will try to get the properties displayed.
Another problem we are facing is paging. When we click on, say, page 4, we don't jump to the top of the new page. The view stays at the bottom of the page.

![image](https://user-images.githubusercontent.com/105660404/199503894-58fb26ba-79c7-4bcf-bdbd-b05edf0e5c3b.png)

Is there any way to change this? The exp

[2022-11-02 17:10] Laul0 commented on #68
Hi @Lennart28213,

Please create one GitHub issue per subject. That help to track and find them easier.
We will close this issue. Feel free to create a new one when you need it.

By the way, the current behavior is "correct" because the page is not refreshed and no option is existing to change this behavior yet.
I think we have this point in our backlog as an enhancement for the next version.

Tha

[2022-11-02 17:10] #68 closed, assigned to Laul0

[2022-11-14 16:12] donsiebers commented on #21
Hello again @Laul0 and @FranckyC - just checking in again to see if a date has been set for the release with the sorting capability. Thanks!

[2022-11-15 01:53] Laul0 commented on #21
Hi @donsiebers,

Thank you for your interest. We are working on the backlog and prioritizing many features and improvements.
Be sure that we don't forget you and this feature.
With the information I have in my possession, I'm not sure this feature will be released on time (Q4) but next quarter (Q1) is pretty sure.
We will have more visibility once the backlog is up-to-date.

Thank you for your pat

[2022-11-15 16:43] donsiebers commented on #21
Hi @Laul0 - thanks for the update.  This is a really important feature for us (as you can probably tell from my continuing to inquire about it's release date) so disappointed it won't be Q4 after all.  But can you clarify a couple of things for me?  Will there still be a Q4 release, but it just won't include this feature?   Or is the Q4 release delayed until Q1, and it's possible that this feature

[2022-11-16 13:11] Laul0 commented on #21
Hi @donsiebers, I think the Q4 will be delayed (the teams work hard and I am not sure) and this feature will be included. Because the last release could be delayed, it is pretty sure that the next release will be available in early Q1.

Sorry for the delay but be sure this delay is certainly necessary to ensure compatibility and stability of the product

[2022-11-18 20:41] donsiebers commented on #21
Thanks for clarifying @Laul0, that's helpful.  Understood on the reasons for delay.